{# app/Resources/views/layout.html.twig #}
 
<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
 
    <title>{% block title %}WEBSTUDENT{% endblock %}</title>
 
    {% block stylesheets %}
      <link rel="stylesheet" href="{{ asset('css/bootstrap.css') }}" type="text/css" />
    {% endblock %}
	
	 {% block javascripts %}
    {# Ajoutez ces lignes JavaScript si vous comptez vous servir des fonctionnalités du bootstrap Twitter et de jquery #}
    <script src="{{ asset('js/jquery.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/bootstrap.js') }}"></script>
	{% endblock %}

</head> 
  <body>
    <div class="container">
      <div id="header" class="hero-unit">
        <h1>WEBSTUDENT</h1>
        <p>Bienvenue sur le site web des étudiants du lycée Jean Rostand</p>
        <p><a class="btn btn-primary btn-large" href="http://www.siteduzero.com/informatique/tutoriels/developpez-votre-site-web-avec-le-framework-symfony2">
          Lire le tutoriel »
        </a></p>
      </div>
 
      <div class="row">
        <div id="menu" class="span3">
          <h3>Le blog</h3>
          <ul class="nav nav-pills nav-stacked">
            <li><a href="{{ path('Etudiant_accueil') }}">Accueil</a></li>
            <li><a href="{{ path('Etudiant_ajouter') }}">Ajouter un etudiant</a></li>
          </ul>
                     
          {{ render(controller("webStudentEtudiantBundle:Etudiant:index", {'nombre': 3})) }}
        </div>
        <div id="content" class="span9">
          {% block body %}
          {% endblock %}
        </div>
      </div>
 
      <hr>
 
      <footer>
        <p>Lycée Jean Rostand</p>
      </footer>
    </div>
 
 
 
  </body>
</html>