{# src/webStudent/EtudiantBundle/Resources/views/Etudiant/etudiantAjouter.html.twig #}
{% extends "webStudentEtudiantBundle::layout.html.twig" %}

{% block title %}{{ parent() }} PAGE D'ACCUEIL : affichage des périodes de stage à venir{% endblock %}
 
{% block body %}
  
<h3>FORMULAIRE ETUDIANT</h3>

 
<div >
  <form class="form-inline" method="post" {{ form_enctype(form) }}> 
	{% form_theme form 'webStudentEtudiantBundle:Form:fields.html.twig' %}
	
	{#-- Mettre juste les 2 lignes ci-dessous pour affichage de tous les champs d'un coup---#}
	{#{{ form_widget(form) }} 	#} 
	{#{{ form_errors(form) }}	 #}
	

	{# Génération du label. #}
	{{ form_label(form.nom, "Nom      ") }}
 
	{# Affichage des erreurs pour ce champ précis. #}
	{{ form_errors(form.nom) }} 
 
	{# Génération de l'input. #}
	{{ form_widget(form.nom, {'attr': {'placeholder': 'nom'} }) }} 
  
	{# Génération du label. #}
	{{ form_label(form.prenom, "Prénom   ") }} 
 
	{# Affichage des erreurs pour ce champ précis. #}
	{{ form_errors(form.prenom) }} 
 
	{# Génération de l'input. #}
	{{ form_widget(form.prenom) }}<br>

	{{ form_label(form.dateNaissance, "date de naissance  ") }} 
	{{ form_errors(form.dateNaissance) }}
	{{ form_widget(form.dateNaissance, {'attr': {'placeholder': 'jj/mm/aaaa'} }) }} 	
	
	{{ form_rest(form) }}
		
		<input type="submit" class="btn btn-primary" />
  </form>
</div>

{% endblock %}